@font-face {
    font-family: 'Arial';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype'),
        url('ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana.eot');
    src: url('Verdana.eot?#iefix') format('embedded-opentype'),
        url('Verdana.woff2') format('woff2'),
        url('Verdana.woff') format('woff'),
        url('Verdana.ttf') format('truetype'),
        url('Verdana.svg#Verdana') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI-Bold.eot');
    src: url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI-Bold.woff2') format('woff2'),
        url('SegoeUI-Bold.woff') format('woff'),
        url('SegoeUI-Bold.ttf') format('truetype'),
        url('SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff'),
        url('MyriadPro-Regular.ttf') format('truetype'),
        url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-BoldMT.eot');
    src: url('Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('Arial-BoldMT.woff2') format('woff2'),
        url('Arial-BoldMT.woff') format('woff'),
        url('Arial-BoldMT.ttf') format('truetype'),
        url('Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Bold.eot');
    src: url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('MyriadPro-Bold.woff2') format('woff2'),
        url('MyriadPro-Bold.woff') format('woff'),
        url('MyriadPro-Bold.ttf') format('truetype'),
        url('MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana-Bold.eot');
    src: url('Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('Verdana-Bold.woff2') format('woff2'),
        url('Verdana-Bold.woff') format('woff'),
        url('Verdana-Bold.ttf') format('truetype'),
        url('Verdana-Bold.svg#Verdana-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

