@font-face {
    font-family: 'HighTowerText';
    src: url('../fonts/HighTowerText-Reg.eot');
    src: url('../fonts/HighTowerText-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HighTowerText-Reg.woff2') format('woff2'),
        url('../fonts/HighTowerText-Reg.woff') format('woff'),
        url('../fonts/HighTowerText-Reg.ttf') format('truetype'),
        url('../fonts/HighTowerText-Reg.svg#HighTowerText-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Neutra Text-Book';
  src: url('../fonts/NeutraText-Book.eot');
  src: url('../fonts/NeutraText-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeutraText-Book.woff2') format('woff2'),
  url('../fonts/NeutraText-Book.woff') format('woff'),
  url('../fonts/NeutraText-Book.ttf') format('truetype'),
  url('../fonts/NeutraText-Book.svg#NeutraText-Book') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neutraface Text Demi';
  src: url('../fonts/NeutrafaceText-Demi.eot');
  src: url('../fonts/NeutrafaceText-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeutrafaceText-Demi.woff2') format('woff2'),
  url('../fonts/NeutrafaceText-Demi.woff') format('woff'),
  url('../fonts/NeutrafaceText-Demi.ttf') format('truetype'),
  url('../fonts/NeutrafaceText-Demi.svg#NeutrafaceText-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


body {
  background-image: url(../img/bg-img.png), url(../img/bg-img.png), url(../img/bg.jpg);
  background-position: left -466px top 120px, right -466px top 1420px, left top;
  background-repeat: no-repeat, no-repeat, repeat;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: table;
}
.background {
  background-color: rgba( 255, 255, 255, 0.8 );
  box-shadow: 5px 9px 27px 9px rgba( 0, 1, 1, 0.45 );
}
.form {
  box-shadow: inset 2px 2px 5px  rgba(0, 0, 0, 0.23);
  background-color: rgb( 255, 255, 255 );
  border: none;
}

/*HEADER*/

.header {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
  display: table;
}
.header__logo {
  float: left;
  padding: 1px 0 4px;
}
.header__menu {
  float: right;
}
.header_nav-link, .header__login-link {
  font: 14px 'HighTowerText';
  color: rgb( 48, 48, 48 );
  position: relative;
}

.header_nav-link:after, .header__login-link:after {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   right: 0;
   background-color: rgb( 48, 48, 48 );
   visibility: hidden;
   transform: scaleX(0);
   transition: all .5s cubic-bezier(1,.25,0,.75) 0s;;
 }
.header_nav-link:hover:after, .header__login-link:hover:after {
   visibility: visible;
   transform: scaleX(1);
 }

.header_nav-link {
  padding: 0 11px;
}
.header_nav-link:last-child {
  padding-right: 0;
}
.header__nav-list li, .header__login li {
  list-style: none;
  display: inline-block;
}
.header__nav-list {
  padding: 0;
  margin: 0;
}
.header__nav {
  float: right;
  clear: right;
  margin-top:  15px;
}
.header__login {
  float: right;
  margin: 15px 0 0;
}
.li-margin{
  margin: 0 -1px;
}



/*BODY_MOD*/

.body_mod {
  padding: 36px 36px 32px;
  margin-top: 46px;
  width: 888px;
  display: table;
}

.body__link img {
  border: 1px solid #000;
  display: table;
  width: 100%;
}
.body__link h3 {
  font: 400 36px 'HighTowerText';
  color: rgb( 75, 75, 75 );
  margin: 7px 0 0;
  text-align: center;
}

.mod2  h3{
  margin-top: 8px;
}
.mod1 {
  float: left;
}
.mod2 {
  float: left;
  margin: 1px 71px 0;
}
.mod3 {
  float: right;
}
.mod1:hover, .mod3:hover {
  opacity: 0.7;
  transition: 1s;
}

.body__form {
  padding: 0 15px 22px 15px;
  background-color: rgb( 233, 232, 232 );
  margin: 0 auto;
  width: 210px;
}
.body__form  label, .body__form input{
  display: block;
}
.body__form p, label{
  margin: 0;
  font: 18px "High Tower Text";
  color: rgb( 75, 75, 75 );
}
.body__form p{
  padding-top: 2px;
  text-align: center;
}
.body__form label{
  padding: 3px 0;
}
.body__form input {
  padding: 0 7px;
  width: 200px;
  height: 31px;
}



/*PRODUCTS*/

.prod {
  padding: 20px;
  margin-top: 50px;
  width: 430px;
  float: left;
}
.prod:nth-child(even) {
  float: right;
}

.prod__title {
  font: 400 24px/30px "High Tower Text";
  background-color: rgb( 45, 45, 45 );
  color: rgb( 255, 255, 255 );
  padding: 14px 7px 15px;
  margin: 0;
  text-align: center;
}
.wine-bottle {
  display: table;
  width: 100%;
}
.prod__inner {
  background-color: rgb( 45, 45, 45 );
  padding: 0 25px 14px 25px;
  display: table;
}
.prod__inner p{
  font: 14px/24px "Neutra Text-Book";
  color: rgb( 254, 251, 251 );
  background-color: rgb( 45, 45, 45 );
  margin: 11px 0 7px;
}

.prod__info {
  display: table;
}
.d1 p, .d2 p, .d2 div {
  font: 18px/30px "HighTowerText";
  color: rgb( 255, 255, 255 );
  background-color: rgb( 45, 45, 45 );
  margin: 0;
}
.d1 {
  margin-top: 8px;
}
.d2 {
   margin: 7px 20px 0 40px;
 }
.d2 p {
  font-family: "Neutraface Text Demi";
}
.d1, .d2, .prod__info img {
  float: left;
}
.d2 div {
  display: inline;
  font-family: 'Neutraface Text Demi';
}
.d2 input {
  width: 40px;
  height: 30px;
  display: inline;
  padding: 0 5px;
  margin-left: 12px;
}
.buy {
  font: 18px "Neutraface Text Demi";
  color: rgb( 255, 255, 255 );
  background-color: rgb( 45, 45, 45 );
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
  margin-top: 25px;
}
.buy:hover {
  color: bisque;
  transition: .5s;
}


/*COLLECTION*/
.collection {
  display: table;
  padding: 0 29px 32px;
  width: 902px;
  margin-top: 50px;
}
.collection h2 {
  font: 400 60px/60px "HighTowerText";
  color: rgb( 75, 75, 75 );
  text-align: center;
  margin: 16px 0 18px;
}
.collection img {
  text-align: center;
}
.collection_img {
  margin: 0 37px;
}

/*FOOTER*/

footer {
  background-color: rgb( 45, 45, 45 );
  margin-top: 50px;
}
.footer__inner  {
  padding: 0 3px 63px 2px;
}

.footer__inner div {
  float: left;
  padding: 0;
  margin-top: 30px;
}
.footer__inner div:first-child {
  margin-right: 153px;
}
.footer__inner div:last-child {
  float: right;
}
.footer__inner h3, .footer__inner a {
  font: 14px/18px "Neutra Text-Book";
  color: rgb( 255, 255, 255 );
}
.footer__inner h3 {
  font-size: 18px;
  margin: 0;
}
.footer__inner hr {
  margin: 6px 0;
}
 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.li-hover {
  position: relative;
}
.li-hover:after{
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;;
}
.li-hover:hover:after {
  visibility: visible;
  transform: scaleX(1);
}


.contact {
  padding-left: 66px;
  position: relative;
  margin-top: 1px;
}
.contact a {
  line-height: 43px;
}

.contact:before{
  position: absolute;
  content: "";
  width: 45px;
  height: 43px;
  left: 0;
}
.letter:before {
  background: url("../img/letter.png") no-repeat;
}
.tel:before {
  background: url("../img/phone.png") no-repeat;
}


.contact:after{
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .5s cubic-bezier(1,.25,0,.75) 0s;;
}
.contact:hover:after {
  visibility: visible;
  transform: scaleX(1);
}


.social {
  display: inline-block;
  padding: 0 8px;
  margin-top: 12px;
}
.social1 {
  padding-left: 0;
}
.social:last-child {
  padding-right: 0;
}



@media screen and (min-width: 1200px) {
  .slider {
    margin: 0 auto;
    max-width: 1200px;
  }
  .slider__item {
    max-width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .slider {
    max-width: 100%;
  }
  .slider__item {
    max-width: 100%;
  }
}
@media screen and  (max-width: 960px) {
  .container {
    width: 768px;
  }
  .header_nav-link {
     padding: 0 5px;
   }
  .header__nav {
    margin-top:  7px;
  }
  .header__logo {
    width: 50%;
  }

  .body_mod {
    padding: 20px 20px 16px;
    width: 728px;
  }
  .body__link {
    width: 30%;
  }
  .body__link h3 {
    font-size: 28px;
  }
  .mod2 {
    margin: 1px 35px 0;
  }
  .body__form {
    width: 188px;
    padding-bottom: 9px;
  }
  .body__form input {
    width: 178px;
  }

  .prod {
    padding: 15px;
    width: 345px;
  }
  .prod__title {
    font-size: 21px;
    line-height: 24px;
  }
  .prod__inner {
    padding: 0 15px 14px 25px;
  }
  .prod__inner p {
    font-size: 14px;
    line-height: 22px;
  }
  .d1 p, .d2 p, .d2 div {
    line-height: 24px;
  }
  .d2 {
    margin: 7px 25px 0 40px;
  }
  .buy {
    margin-top: 15px;
  }
  .prod__info img {
    width: 50px;
    margin-top: 18px;
  }

  .collection {
    padding: 0 20px 32px;
    width: 728px;
  }
  .collection h2 {
    font-size: 46px;
  }
  .collection img {
    width: 30%;
  }
  .collection_img {
    margin: 0 36px;
  }
  .footer__inner div:first-child {
    margin-right: 70px;
  }
}
@media screen and  (max-width: 768px) {
  .container {
    width: 480px;
  }
  .header__logo {
    clear: left;
    display: table;
    margin: 0 auto;
    width: 97%;
  }
  .header__menu {
    float: none;
    display: table;
    margin: 0 auto;
  }
  .header__login {
    float: none;
    display: table;
    margin: 7px auto 0;
    padding: 0;
  }
  .header__nav {
    margin: 7px auto 5px;
  }
  .li-margin {
    margin: 0 10px;
  }
  .header_nav-link {
    padding: 0px 10px;
    line-height: 20px;
  }
  .header__nav-list {
    text-align: center;
  }

  .body_mod {
    padding: 20px 20px 16px;
    width: 440px;
  }
  .body__link {
    width: 100%;
  }
  .body__link h3 {
    font-size: 32px;
    margin-top: 13px;
  }
  .mod2 {
    margin: 30px auto 38px;
  }
  .body__form {
    width: 400px;
    padding: 20px;
  }
  .body__form input {
    width: 95%;
  }
  .body__form p, label {
    font-size: 22px;
  }
  .body__form label {
    padding: 5px 0;
  }

  .prod {
    width: 450px;
  }
  .prod__info img {
    width: 70px;
    margin-top: 6px;
  }
  .d2 {
    margin: 7px 70px 0 70px;
  }

  .collection {
    padding: 0 15px 15px;
    width: 450px;
  }
  .collection img {
    width: 100%;
  }
  .collection_img {
    margin: 15px 0;
  }
  .footer__inner {
    padding: 0 10px 20px;
    width: 450px;
  }
  .footer__inner div {
    float: right;
  }
  .footer__inner div:first-child {
    margin-right: 0;
    float: left;
  }
  .footer__inner div:last-child {
    clear: right;
  }
}
@media screen and  (max-width: 480px) {
  .container {
    width: 100%;
  }
  .header {
    position: relative;
  }
  .body_mod {
    padding: 20px 20px 16px;
    width: 80%;
    margin: 20px auto 0;
  }
  .body__link {
    width: 100%;
  }
  .mod2 {
    margin: 30px auto 38px;
  }
  .body__form {
    width: 90%;
    padding: 10px;
  }
  .body__form input {
    width: 95%;
  }
  .body__form label {
    padding: 5px 0;
  }

  .prod {
    width: 80%;
    padding: 20px 20px 20px;
    margin: 20px auto 0;
  }
  .prod:nth-child(odd) {
    float: none;
    display: table;
  }
  .prod:nth-child(even) {
    float: none;
    display: table;
  }
  .prod__info {
    padding: 0 10px;
  }
  .d1 {
    width: 50%;
  }
  .d2 {
    display: table;
    float: right;
    margin: 7px 0 0 ;
    width: 50%;
  }
  .d2 input {
    width: 39px;
  }


  .collection {
    padding: 0 20px 15px;
    width: 80%;
    margin: 20px auto 0;
  }
  .collection h2 {
    font-size: 32px;
  }
  .footer__inner {
    padding: 0 10px 20px;
    width: 80%;
    margin: 20px auto 0;
  }
  .footer__inner div {
    float: none;
    display: block;
    margin: 25px auto;
    text-align: center;
  }
  .footer__inner hr {
    margin: 6px auto;
  }
  .footer__inner div:first-child {
    float: none;
  }
  .footer__inner div:last-child {
    float: none;
  }
  .contact {
    padding: 0;
  }
  .contact a {
    line-height: 24px;
  }
  .contact:before {
    display: none;
  }

}
