@font-face {
    font-family: 'HighTowerText';
    src: url('../fonts/HighTowerText-Reg.eot');
    src: url('../fonts/HighTowerText-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HighTowerText-Reg.woff2') format('woff2'),
        url('../fonts/HighTowerText-Reg.woff') format('woff'),
        url('../fonts/HighTowerText-Reg.ttf') format('truetype'),
        url('../fonts/HighTowerText-Reg.svg#HighTowerText-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Neutra Text-Book';
  src: url('../fonts/NeutraText-Book.eot');
  src: url('../fonts/NeutraText-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeutraText-Book.woff2') format('woff2'),
  url('../fonts/NeutraText-Book.woff') format('woff'),
  url('../fonts/NeutraText-Book.ttf') format('truetype'),
  url('../fonts/NeutraText-Book.svg#NeutraText-Book') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neutraface Text Demi';
  src: url('../fonts/NeutrafaceText-Demi.eot');
  src: url('../fonts/NeutrafaceText-Demi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeutrafaceText-Demi.woff2') format('woff2'),
  url('../fonts/NeutrafaceText-Demi.woff') format('woff'),
  url('../fonts/NeutrafaceText-Demi.ttf') format('truetype'),
  url('../fonts/NeutrafaceText-Demi.svg#NeutrafaceText-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


body {
  background-image: url(../img/bg-img.png), url(../img/bg-img.png), url(../img/bg.jpg);
  background-position: left -466px top 120px, right -466px top 1420px, left top;
  background-repeat: no-repeat, no-repeat, repeat;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: table;
}
.background {
  background-color: rgba( 255, 255, 255, 0.8 );
  box-shadow: 5px 9px 27px 9px rgba( 0, 1, 1, 0.45 );
}
.form {
  box-shadow: inset 2px 2px 5px  rgba(0, 0, 0, 0.23);
  background-color: rgb( 255, 255, 255 );
  border: none;
}

/*HEADER*/

.header {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
}
.header__logo {
  float: left;
  padding: 1px 0 4px;
}
.header__menu {
  float: right;
}
.header_nav-link, .header__login-link {
  font: 14px 'HighTowerText';
  color: rgb( 48, 48, 48 );
}
.header_nav-link:hover, .header__login-link:hover {
  text-decoration: underline;
}
.header_nav-link {
  padding: 0 11px;
}
.header_nav-link:last-child {
  padding-right: 0;
}
.header__nav-list li, .header__login li {
  list-style: none;
  display: inline-block;
}
.header__nav-list {
  padding: 0;
  margin: 0;
}
.header__nav {
  float: right;
  clear: right;
  margin-top:  15px;
}
.header__login {
  float: right;
  margin: 15px 0 0;
}
.li-margin{
  margin: 0 -1px;
}



/*SLIDER*/

.slider {
  margin: 0 auto;
  max-width: 1200px;
}



/*BODY_MOD*/

.body_mod {
  padding: 36px 36px 32px;
  margin-top: 46px;
  width: 888px;
  display: table;
}

.body__link img {
  border: 1px solid #000;
  display: table;
}
.body__link h3 {
  font: 400 36px 'HighTowerText';
  color: rgb( 75, 75, 75 );
  margin: 7px 0 0;
  text-align: center;
}

.mod2  h3{
  margin-top: 8px;
}
.mod1 {
  float: left;
}
.mod2 {
  float: left;
  margin: 1px 71px 0;
}
.mod3 {
  float: right;
}
.mod1:hover, .mod3:hover {
  opacity: 0.7;
}

.body__form {
  padding: 0 15px 22px 15px;
  background-color: rgb( 233, 232, 232 );
  margin: 0 auto;
  width: 210px;
}
.body__form  label, .body__form input{
  display: block;
}
.body__form p, label{
  margin: 0;
  font: 18px "High Tower Text";
  color: rgb( 75, 75, 75 );
}
.body__form p{
  padding-top: 2px;
  text-align: center;
}
.body__form label{
  padding: 3px 0;
}
.body__form input {
  padding: 0 7px;
  width: 200px;
  height: 31px;
}



/*PRODUCTS*/

.prod {
  padding: 20px;
  margin-top: 50px;
  width: 430px;
  float: left;
}
.prod:nth-child(even) {
  float: right;
}

.prod__title {
  font: 400 24px/30px "High Tower Text";
  background-color: rgb( 45, 45, 45 );
  color: rgb( 255, 255, 255 );
  padding: 14px 7px 15px;
  margin: 0;
  text-align: center;
}
.prod img {
  display: table;
}
.prod__inner {
  background-color: rgb( 45, 45, 45 );
  padding: 0 25px 14px 25px;
  display: table;
}
.prod__inner p{
  font: 14px/24px "Neutra Text-Book";
  color: rgb( 254, 251, 251 );
  background-color: rgb( 45, 45, 45 );
  margin: 3px 0 7px;
}

.prod__info {
  display: table;
}
.d1 p, .d2 p, .d2 div {
  font: 18px/30px "HighTowerText";
  color: rgb( 255, 255, 255 );
  background-color: rgb( 45, 45, 45 );
  margin: 0;
}
.d1 {
  margin-top: 8px;
}
.d2 {
   margin: 7px 20px 0 40px;
 }
.d2 p {
  font-family: "Neutraface Text Demi";
}
.d1, .d2, .prod__info img {
  float: left;
}
.d2 div {
  display: inline;
}
.d2 input {
  width: 40px;
  height: 30px;
  display: inline;
  padding: 0 5px;
  margin-left: 12px;
}
.buy {
  font: 18px "Neutraface Text Demi";
  color: rgb( 255, 255, 255 );
  background-color: rgb( 45, 45, 45 );
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
  margin-top: 25px;
}
.buy:hover {
  color: bisque;
}


/*COLLECTION*/
.collection {
  display: table;
  padding: 0 29px 36px;
  width: 902px;
  margin-top: 50px;
}
.collection h2 {
  font: 400 60px "HighTowerText";
  color: rgb( 75, 75, 75 );
  text-align: center;
  margin: 2px 0 18px;
}
.collection div {
  width: 270px;
  height: 270px;
  border: 2px solid ;
  border-image: radial-gradient(circle, rgba(239,219,205,0.52) 0%, rgba(108,46,22,1) 30%, rgba(251,216,197,1) 83%, rgba(151,70,26,1) 100%) .52;
  float: left;
  background-position: center, left top;
  background-repeat: no-repeat, repeat;
}
.collection div:last-child {
  float: right;
  margin-right: 5px;
}
.coll1 {
  background-image: url(../img/coll1-logo.png), url(../img/coll1.jpg);
  margin-left: 5px;
}
.coll2 {
  background-image: url(../img/coll2-logo.png), url(../img/coll2.jpg);
  margin: 0 35px;
}
.coll3 {
  background-image: url(../img/coll3-logo.png), url(../img/coll3.jpg);
}


/*FOOTER*/

footer {
  background-color: rgb( 45, 45, 45 );
  margin-top: 50px;
}
.footer__inner  {
  padding: 0 3px 63px 2px;
}
.footer__inner ul {
  float: left;
  padding: 0;
  margin-top: 30px;
}
.footer__inner ul:first-child {
  margin-right: 153px;
}
.footer__inner ul:last-child {
  float: right;
}
.footer__inner li, .footer__inner a {
  font: 14px/18px "Neutra Text-Book";
  list-style: none;
  color: rgb( 255, 255, 255 );
}
.footer__inner li:first-child {
  font-size: 18px;
}
.footer__inner hr {
  margin: 6px 0;
}
.footer__inner li:hover {
  text-decoration: underline;
}
.footer__inner li:first-child:hover {
  text-decoration: none;
}

.contact {
  padding-left: 66px;
  position: relative;
}
.letter {
  margin-top: 5px;
  padding-top: 3px;
}
.tel {
  padding-top: 11px;
  margin-top: 22px;
}
.contact:before{
  position: absolute;
  content: "";
  top: 0;
}
.letter:before {
  background: url("../img/letter.png") no-repeat;
  width: 45px;
  height: 34px;
  left: 2px;
}
.tel:before {
  background: url("../img/phone.png") no-repeat;
  width: 15px;
  height: 43px;
  left: 16px;
}

.social {
  display: inline-block;
  padding: 0 8px;
  margin-top: 12px;
}
.social1 {
  padding-left: 0;
}
.social:last-child {
  padding-right: 0;
}